@model IEnumerable<Mvc.Models.mvcCountriesModel>

@{
    ViewBag.Title = "Index";
}

<br/>

<p>
    <a href="@Url.Action("AddorEdit", "Countries")" class="btn btn-default"><i class="fa fa-plus"></i>  Create new</a>
</p>
<table class="table table-striped">
    <thead class="table-heading">
    <tr>   
        <th>
            @Html.DisplayNameFor(model => model.id_country)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.country)
        </th>
        <th>Actions</th>
    </tr>   
    </thead>
@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.id_country)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.country)
    </td>
    <td>
        <a href="@Url.Action("AddorEdit", "Countries", new { id=item.id_country} )" class="btn btn-default"><i class="fa fa-pencil"></i> Edit</a>
        <a onclick="Delete(@item.id_country)" class="btn btn-default"><i class="fa fa-trash"></i> Delete</a>
    </td>
</tr>
}

</table>

@section scripts{
    <script>
        $(function () {
            var successMessage = '@TempData["SuccessMessage"]'
            if (successMessage != '')
                alertify.success(successMessage);
        });

        function Delete(id) {
            alertify.confirm('Ей', 'Хочеш видалити?', function () {
                window.location.href='@Url.Action("Delete", "Countries")/' + id;
            }, null);
        }


    </script>
    }
